{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/nobody.jpg' %}" width="75%" />
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>Penny Train</h2>
      <!-- Content goes directly underneath this -->
      <p>Software development is the process used to conceive, specify, design,
        program, document, test, and bug fix in order to create and maintain
        applications, frameworks, or other software components. Software
        development involves writing and maintaining the source code, but in
        a broader sense, it includes all processes from the conception of the
        desired software through the final manifestation, typically in a planned
        and structured process often overlapping with software engineering. Software
        development also includes research, new development, prototyping, modification,
        reuse, re-engineering, maintenance, or any other activities that result in software products.
        A software developer is a person or company engaged in a software development process, including
        research, design, programming, testing, and other facets of creating computer software.
        Other job titles for people with similar meanings include programmer, software analyst,
        or software engineer. Companies specializing in software may be called software houses. In
        a large company, there may be employees whose sole responsibility consists of only one of
        the disciplines. In smaller development environments, a few people or a single person might
        handle the complete process. Collaborative environments, such as open-source software, can
        bring together many developers.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}